.card {
  display: flex;
  flex-direction: column;
  background-color: (var(--bg-color));
  border-radius: 16px;
  padding: 20px;
}

.priority {
  width: max-content;
  margin-bottom: 5px;
  font-size: 14px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleText {
  font-size: 18px;
  font-weight: 600;
}

.deleteBtn {
  background-color: var(--red40);
  border-radius: 100%;
  width: 25px;
  height: 25px;
  color: var(--white)
}

.desc {
  margin-top: 6px;
  font-size: 12px;
  line-height: 16px;
  color: (var(--gray15))
}
