.sidebar {
  width: 15%;
  min-width: 250px;
  border-right: 1px solid var(--gray10);
}

.logoHeader {
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid var(--gray10);
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 600;
}

.logoPic {
  width: 40px;
}

.projects {
  padding: 30px 20px;
}

.projectsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.projectsTitle {
  color: var(--gray15);
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.addProjectIcon {
  color: var(--gray15);
  width: 16px;
  height: 16px;
}

.projectsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.projectLink {
  padding: 10px 14px 10px 12px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--gray15);
  font-size: 16px;
  font-weight: 600;
  transition: background-color .2s;

  &:hover {
    background-color: var(--gray05);

    .deleteBtn {
      opacity: 1;
    }
  }
}

.projectColor {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
}

.projectTitle {
  flex-grow: 1;
  text-align: left;
}

.selected {
  color: var(--text-color);
  background-color: var(--light-purple);
}

.deleteBtn {
  opacity: 0;
  transition: opacity .2s;
}

.deleteIcon {
  width: 20px;
  height: 20px;
  color: var(--red40);
  margin-left: auto;
}

.modal {
  width: 50%;
}
