.button {
  padding: 0 15px;
  font-size: 14px;
  font-weight: 600;
  transition: all .1s;
  display: inline-block;
  width: fit-content;
  height: 40px;
  border-radius: 6px;
}

.primary {
  background-color: var(--purple);
  color: var(--white);

  &:hover {
    background-color: var(--dark-purple);
  }
}

.secondary {
  color: var(--gray15);
  border: 1px solid var(--gray15);
  background-color: var(--white);

  &:hover {
    background-color: var(--light-purple);
  }
}

.error {
  color: var(--red40);
  border: 1px solid var(--red40);
  background-color: var(--light-red);

  &:hover {
    color: var(--white);
    background-color: var(--red40);
  }
}

.square {
  width: 50px;
}
