.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: var(--text-color);
  position: relative;
}

.label {
  font-size: 14px;
  font-weight: 500;
}

.input {
  border-radius: 6px;
  background-color: var(--gray05);
  padding: 10px 30px 10px 15px;
  color: var(--gray15);
  font-size: 14px;


  &:focus:not(.error) {
    outline: 1px solid var(--gray30);
  }
}

.withIcon {
  padding-left: 50px;
}

.icon {
  position: absolute;
  width: 22px;
  bottom: 4px;
  left: 16px;
  color: var(--gray15)
}

.error {
  border-color: var(--red40);
}
