.container {
  padding: 15px;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.board {
  display: flex;
  gap: 3%;
}

.column {
  width: calc(100% / 3)
}
