.container {
  padding: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addTaskBtn {
  color: var(--text-color);
  background-color: var(--green40);
  padding: 10px 15px;
  border-radius: 7px;
  font-weight: 700;
}

.title {
  margin-bottom: 15px;
}

.board {
  display: flex;
  gap: 3%;
}

.column {
  width: calc(100% / 3)
}
